@import '../../assets/globals';

.sample__message,
.sample__build-properties {
    @include card();

    background: $black;
    color: $white;
}

.sample__message {
    font-family: sans-serif;
}

.sample__build-properties {
    font-family: monospace;
}
